* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.mydiv {
    width: max-content;
    height: 500px;
    display: block;
    border: solid 2px black;
    margin-left: 400px;
    margin-top: 5px;
}

img {
    width: 500px;
    height: 498px;
}

.button {
    display: inline-block;
    margin-left: 400px;
    margin-top: 5px;
}

.button2 {
    display: inline-block;
    margin-left: 414px;
    margin-top: 5px;
}